body, html {
    height: 100%;
}
.welcome, .question-container {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 250px;
    width: 50%;
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    position: absolute;
}

body {
    display: flex;
    margin: 0;
    flex-direction: row;
}


.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    padding: 10px;
}


.left {
    width: 20%;
    padding: 10px;
    justify-items: right;
}

.middle {
    width: 60;
    padding: 10px;
}

.right {
    width: 20%;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.questions {
    border: 5px solid black;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    padding: 20px;
}

#btnBegin{
    padding: 20px 30px;
}

.hide {
    display: none;
}

.question {
    color: black;

}

.answer {
    color: blue;
}

.checked {
    color: darkgreen;
    border: 2px;
    border-color: black;
}
div.answer:hover, div.answer:active {
    color: white;
    background-color: blue;
}

